streamlit>=1.29.0  # Versions after 1.29.0 support Pillow 10+
pillow>=10.0.0
opencv-python==4.8.0.76
pandas>=2.0.0
insightface==0.7.3
requests==2.31.0
python-dotenv==1.0.0
protobuf==3.20.3
onnxruntime==1.17.0
numpy<2
